// Define variables for your color scheme

// For example:
$middle-gray: #837da5;
$light-gray: #9e9e9e;
$light-body: rgb(245, 245, 245);




// NOUVELLES COULEURS : UTILISER CELLES-CI !

$dark-gray: #181B20;
$light-gray: #f9fbfc;


$light-purple: #c9c5e2;
$purple: #624ed8;
$middle-purple: #837da5;
$corail: #FF7F5D;
$light-corail: #fbedec;

$white: #FFFFFF;
