// NOUVELLES COULEURS : UTILISER CELLES-CI !

$light-body:#f4f4f4;

$dark-gray: #181847;
$middle-gray: #837da5;
$light-gray: #f9fbfc;


$light-purple: #c9c5e2;
$purple: #624ed8;
$middle-purple: #837da5;
$corail: #FF7F5D;
$light-corail: #fbedec;

$white: #FFFFFF;
