// NOUVELLES COULEURS : UTILISER CELLES-CI !

$light-body:#F7F8FD;

$dark-gray: #181847;
$middle-gray: #837da5;
$light-gray: #f9fbfc;


$light-purple: #c9c5e2;
$purple: #624ed8;
$middle-purple: #837da5;
$middle-purple-transparent: #837da550;
$corail: #FF7F5D;
$light-corail: #fbedec;
$corail-transparent: #FF7F5D70;

$white: #FFFFFF;
$white-transparent: #FFFFFF80;

$testv: #5460c2;
$testf: #4d56ae;
