// Define variables for your color scheme

// For example:
$dark-gray: #181B20;
$middle-gray: #3D3D3D;
$light-gray: #9e9e9e;
$light-body: rgb(245, 245, 245);
$white: #FFFFFF;
$dark-purple: linear-gradient(to right, #311a49, #4F2A6B);
$purple: #624ed8;
$red-purple: #311a49;
