
//titre principaux
h1 {
  font-family: $body-font;
  font-weight: bold;
  letter-spacing:1px;
  color: $dark-gray;
}



//sous titre uppercase gris
h2{
  color:$middle-purple;
  letter-spacing:1px;
  opacity: 0.6;
  font-family:$body-font;
  font-weight:bold;

}


//petites phrases en purple
h3 {
  color: $middle-purple;
  font-family: $body-font;
  font-weight: bolder;
}


//user name

h4 {
  font-family:$headers-font;
  color: $dark-gray;
  letter-spacing:1px;
  font-weight:bold;

}

//button text
h5 {
  color: $light-corail;
  font-family: $body-font;
  font-weight:bold;


}

//random text

 p {
  color: $middle-purple;
  opacity:0.6;
  font-family: $body-font;
  font-weight: lighter;
  line-height:23px;
}


// different size
.xsmall-size {
  font-size:8px;
}
.small-size {
  font-size:16px;
}

.middle-size {
  font-size:32px;
}

.big-size {
  font-size:48px;
}
