
//bold title round
h1 {
  font-family: $headers-font;
  font-size: 35px;
  font-weight: bold;
  letter-spacing:1px;
  color: $middle-purple;
}

h1.navbar-name {
  font-size: 20px;
  text-align: center;
  color: $white;
}



//bold title round
h2 {

  color:$purple;
  font-size: 20px;
}


 p {
  font-family: $body-font;
  color: $middle-gray;
  font-size: 19px;
  font-weight: lighter;
  text-decoration:none;
}

p.navbar-title  {
 color:white;
 text-decoration:none;
}
