.home_banner{
  background-image: asset-url("homepage-test2.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: $white;
  margin-bottom: 10px;
  padding: 20px;
  margin-top: -95px;
}


.card-presentation {
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: auto;
  width: 350px;
  color: $purple;
  padding: 0px 5px 0px 5px;
  margin-bottom: 20px;
  margin-top: 20px;

  img {
    height: 250px;
    width: 300px;
  }
}

.presentation-home {
  margin-left: 50px;
}

.anime-js {
  min-height: 38px;
  min-width: 400px;
}
