.home_banner{
  background-image: asset-url("homepage.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: $white;
  margin-bottom: 10px;
  padding: 20px;
  margin-top: -95px;
}

.card-presentation {
  background-color: $white;
  text-align: center;
  border-radius: 20px;
  height: auto;
  width: 350px;
  color: $purple;
  padding: 0px 5px 0px 5px;
  margin-bottom: 20px;
  margin-top: 20px;

  img {
    height: 250px;
    width: 300px;
  }
}

.anime-js {
  min-height: 38px;
  min-width: 400px;
}

.page_banner{
  background-image: asset-url("template-page.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

a:hover {
  text-decoration: none;
}
