.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: $purple;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.format-onglets {
  border-bottom: 0;
  margin-top: 20px;
}

.card-post {
  background: $corail-transparent;
  border-radius: 20px;
  height: auto;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.card-post h2 {
  margin: 0;
  text-decoration: none;
}

.card-post-info {
  margin-left: 2px;
  border-bottom: 2px solid $middle-purple-transparent;
}

.user-created {
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
}

.created {
  color: $middle-purple-transparent;
  font-size: 12px;
}

.user {
  font-size: 16px;
  color: $dark-gray;
}

.card-post-title {
  color: $middle-gray;
}

.card-post-content {
  line-height:26px;
}

.content {
  font-size: 14px;
}

.card-post:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.flexbox {
  display: flex;
}

.content {
  line-height:70px;
}
.cat-remove {
justify-content: space-between;
color: $white;
height: 20px;
border-radius:20px;
}

.category {
  border-radius:20px;
  background-color: $corail;
  color: $white;
  width:100px;
  height:30px;
  text-align: center;
}

.remove {
  text-align: right;
  font-size: 16px;
}

.card-center {
  flex-grow: 1;
}

.padding-category {
  padding-top: 8px;
  font-size: 12px;
}

.posts-container {
  margin: 10px 40px;
}

.new-post {
  top:10vh;
  right: 3.3vw;
  position: fixed;
}

.avatar-post img {
  width: 60px;
  border-radius: 50%;
  height:60px;
  object-fit: cover;
  border: solid 3px $middle-purple;
}

.div-delete {
  align-self: flex-end;
}

.tabs-borders {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
