.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: $purple;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.format-onglets {
  border-bottom: 0;
  margin-top: 20px;
}

.card-post {
  position: relative;
  background: $light-gray;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-post h2 {
  margin: 0;
  text-decoration: none;
}

.card-post-info {
  border-bottom: 2px solid $middle-purple-transparent;
}

.user-created {
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
}

.created {
  color: $middle-purple-transparent;
  font-size: 12px;
}

.user {
  font-size: 16px;
  color: $dark-gray;
}

.card-post-title {
  color: $middle-gray;
}

.card-post-content {
  line-height:26px;
  p {
    word-break: break-word;
  }
}

.content {
  font-size: 14px;
}

.card-post:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .btn-4tiary-delete,
  .btn-4tiary-chat {
    opacity: 1;
  }
}

.content {
  line-height:70px;
}
.cat-remove {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.category {
  background-color: $light-gray;
  color: $corail;
  font-size: 12px;
  padding: 3.5px 0px;
  flex: 0 0 50%;
}

.remove {
  text-align: right;
  font-size: 16px;
}

.card-center {
  flex-grow: 1;
}

.padding-category {
  padding-top: 3.5px;
  font-size: 12px;
}

.posts-container {
  margin: 10px 40px;
}

.new-post {
  position: absolute;
  right: 40px;
  bottom: 12px;}

.avatar-post img {
  width: 60px;
  border-radius: 50%;
  height:60px;
  object-fit: cover;
  border: solid 3px $middle-purple;
}

.div-delete {
  align-self: flex-end;
  margin-top: 20px;
}

.tabs-borders {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

#bomb {
  position: absolute;
  top: 0px;
  right: 14px;
  text-decoration: none !important;
  width: 10px;
  height: 10px;
}

.card-post progress {
  position: relative;
  width: 70px;
  margin-top: 4px;
  margin-right: 30px;
  &:before {
    content: "Expires in";
    position: absolute;
    top: -4px;
    left: 2px;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 500;
    opacity: 0.5;
  }
  &:after {
    content: attr(content);
    position: absolute;
    right: -23px;
    top: -1px;
    opacity: 0.5;
    font-size: 12px;

  }
}
