.avatar-large img {
  position: relative;
  right: 10px;
  bottom: 79px;
  border: 5px solid $middle-purple-transparent;
  width: 130px;
  border-radius: 50%;
  height:130px;
  object-fit: cover;

}
 a:hover {
  text-decoration: none;
 }

.image-fond {
  position: relative;
    left: 685px;
    top: -344px;
    z-index: -1;
    width: 238px;

}

.card-network {
  border-radius: 20px;
  background-color: $purple;
  height: fit-content;
  padding: 20px 20px 20px 20px;
  width: 300px;
}

.white-card{
  border-radius:20px;
  background: $white;
  height: 70vh;
  width:40vw;
  margin-top: 80px;
  padding:35px;
}
.profil-container {
  width: 650px;
  height:500px;
}
.card-bio {
  background: $light-purple;
  border-radius:20px;
  padding:20px;

  flex-grow: 1;

}


.message-cta {
  display: flex;
  justify-content: flex-end;
}

.network {
  padding:20px;
}

.current-post {
   margin-top: 70px;
}

.statut {
  border-radius: 30px 30px 30px 0px;
  height:fix-content;
  padding:20px;
  background-color:$corail;
  margin-top:35px;
}
