
.top-banner {
  background: $white;
  height: 47px;
  opacity: 0.8;
  border-radius: 20px;
  margin-bottom: 2em;

}

.welcome {
  background: $corail;
  border-radius:20px;
  height: 80px;
  position: relative;
  margin-bottom: 3em;
  span {
    color: $purple;
  }
}

.image-welcome {
    position: absolute;
    right: 85px;
    top: -127px;
}


.avatar-small img {
  border-radius: 50%;
  object-fit: cover;
}

.results {
  margin-left: 25px;
  margin-bottom: 3em;
}

