
.top-banner {
  background: $white;
  height: 47px;
  opacity: 0.8;
  border-radius: 20px;
  margin-bottom: 1em;

}

.welcome {
  background: $corail;
  border-radius:20px;
  height: 80px;
  position: relative;
  margin-bottom: 1em;
  span {
    color: $purple;
    text-decoration: overline;
  }
}

.image-welcome {
    position: absolute;
    right: 85px;
    top: -127px;
}


.avatar-small img {
  border-radius: 50%;
  object-fit: cover;
}

.results {
  margin-left: 25px;
}

#map_and_list {
  height: calc(100% - 215px);
}
