<%= link_to(user_path(user)) do %>
  <div class="map-user-container">
    <div class="d-flex justify-content-center p-2">
      <% if user.photo.attached? %>
        <div class="avatar-small"><%= cl_image_tag user.photo.key, height:50, width:50 %></div>
      <% end %>
      <div class="text-left p-2">
        <h4 class="small-size"><%= user.first_name %></h4>
        <h2 class="xsmall-size"><%= user.job.upcase %></h2>
        <btn class="btn-link">see the profil</btn>
      </div>
    </div>
  </div>
<% end %>
