<div class="btn-primari d-flex align-items-center justify-content-between">
  <h5 class ="small-size m-0 text-align-end flex-grow"><%= text %> </h5>
  <div class="mr-2 ml-4"><%= image_tag "fleche-orange.svg", alt: "alttext", height: "30px", class: 'fleche' %> </div>
</div>
