<div class="footer">
  <div class="footer-static-links">
    <%= link_to 'about', about_path %>
    <%= link_to 'contact', contact_path %>
  </div>
  <div class="footer-links">
    <a href="https://github.com/martin-nl/knock-knock" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/nomadicworkers/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</div>
