<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h1>discover us</h1>
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident veniam nulla aperiam velit, amet dolore quas sint eius neque repellat est deleniti aliquid praesentium vitae aut, a sunt harum ad?</span>
      <span>Iure beatae ipsa magni? Odio quo eos quia, perferendis quae voluptas hic, assumenda, obcaecati, doloremque ipsa suscipit autem reiciendis amet repellendus totam minima facere eveniet asperiores dolor at consequatur dolore!</span>
      <span>Mollitia esse aliquam fugit deleniti magnam, voluptatibus, consequuntur placeat architecto eveniet excepturi qui incidunt ab, alias. Obcaecati sed cum, iusto, delectus ut est corrupti. Hic ad, impedit suscipit unde tempora.</span>
      <span>Non, hic rem recusandae aspernatur, quos porro deserunt itaque officia nam, maxime sit? Praesentium ipsa distinctio magnam assumenda soluta tempora, ex cum aliquid deserunt, consequatur enim labore. Esse illum, consequuntur.</span>
      <span>Maxime nihil, quibusdam, repudiandae beatae eos aliquid itaque voluptas molestias perferendis dolorem vel quasi ipsum laudantium perspiciatis quam provident temporibus vero tempora quos nobis est! Quam sapiente at saepe corrupti.</span>
      <span>Eos dicta provident eum et qui fuga veritatis repudiandae, ut quo quibusdam voluptatem consequuntur unde quaerat consequatur reprehenderit, dignissimos perspiciatis odio? Repudiandae adipisci eius voluptates laboriosam, facere ipsa rem totam.</span>
      <span>Quidem eaque dolorum omnis nesciunt consequatur non ipsa placeat maiores! Mollitia ducimus omnis, doloremque tenetur corporis ex aperiam quia deleniti at, labore voluptate quaerat eaque facilis voluptates magnam perspiciatis cum?</span>
      <span>Porro fuga ducimus at quasi aliquam quibusdam sapiente alias, nam? Numquam a, vel, officiis inventore tenetur nobis nisi culpa. Blanditiis cupiditate animi, soluta officia nihil asperiores dolorum mollitia molestiae qui.</span>
      <span>Commodi repudiandae natus sapiente, tempora quaerat earum molestiae architecto mollitia. Fugiat quasi cum temporibus earum, sapiente optio odio labore quam laudantium eius dolorem, eligendi possimus recusandae, commodi, amet fugit. Quasi!</span>
      <span>Officia voluptatibus eaque laboriosam adipisci, quas tempora laudantium ab dolorum dignissimos nostrum, similique dolor aspernatur cum vitae. Quibusdam, possimus omnis autem nesciunt, sapiente qui totam quis vero id quae voluptates.</span></p>
    </div>
  </div>
</div>
