<div class="home_banner">
  <div style="background-image: url('knock-test-landing-page.png);">

    <div class="container">

      <div class="row" style="height: 100vh; align-items: center;">
        <div class="col-4">
          <h1>Knock-Knock</h1>
          <h3><span id="banner-typed-text"></span></h3>
          <%= link_to "discover your next coworkers" , users_path, class: 'btn-home' %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="card-presentation">
        <%= image_tag "interact.svg" %>
        <h3>Interact</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore molestias consectetur fugit exercitationem maiores dolorum accusamus quaerat sapiente. Numquam deleniti mollitia doloremque voluptates officia nesciunt. Hic, iste, nam. Sed, repudiandae.</p>
      </div>

      <div class="card-presentation">
        <%= image_tag "expertise.svg" %>
        <h3>Expertise</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia eos ex iste nostrum voluptatum. A praesentium ut consectetur odio suscipit illo eaque, blanditiis voluptatem sed impedit pariatur modi aliquid officia.</p>
      </div>

      <div class="card-presentation">
        <%= image_tag "social.svg" %>
        <h3>Social</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ullam, suscipit eos impedit culpa incidunt accusamus nobis nostrum hic doloremque error, ipsa labore! Deleniti blanditiis aut tenetur nesciunt consequatur quod.</p>
      </div>
    </div>
  </div>
</div>
