.avatar {
  width: 50px;
  border-radius: 50%;

  img {
    object-fit: cover;
  }
}
.avatar-large {
  width: 100px;
  border-radius: 50%;
  height:100px;
  object-fit: cover;
}

.small-avatar {
  width: 60px;
  border-radius: 50%;
  height:60px;
  object-fit: cover;
  border: solid 3px $middle-purple;
}

.xsmall-avatar {
  width: 40px;
  border-radius: 50%;
  height:40px;
  object-fit: cover;

}
