.btn-primari {
   background-color: $corail !important;
   border-radius: 50px;
   height:38px;
   width:fit-content;
   padding: 19px 10px;
   text-decoration:none;
}

.btn-primari:hover {
  opacity:0.9;
  text-decoration: none;
}

// .btn-flat {
//   background:$corail;
//   padding: 8px 24px;
//   border-radius: 50px;
//   color: $light-corail !important;
//   font-size: 16px;
//   font-weight: bolder;
//   border-width: 0px;

// }

// .btn-flat.search-btn-flat {
//   height: 38px;
//   padding: 9px 18px;
//   margin-left: -9px;
// }

// .btn-flat:hover {
//   color: $corail !important;
//   background: $light-corail;
//   opacity: 0.9;
//   transition: background 0.3s ease;
//   text-decoration: none;
// }

.btn-secondary {
  border-radius: 50px;
  height:38px;
  width:fit-content;
  padding: 15px;
  text-decoration:none;
  background:$white;
  color: $corail !important;
  border: 1px solid $corail !important;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;

  // a {
  //     color: $purple ;
  //     text-decoration: none;
  //     &:hover {
  //       color: $white ;
  //       background: $purple ;
  //     }

  // }
}

.btn-secondary:hover {
  background: $corail;
  transition: background 0.3s ease;
  color: $white !important;
  opacity: 0.9;
  text-decoration: none;
}

.btn-link {
  letter-spacing: 1px;
  font-weight: bolder;
  color:$corail;
  font-size: 16px;
  text-decoration: underline;
  opacity: 0.9;
}

.btn-link:hover {
  color:$corail ;
  transition: background 0.3s ease;
}

.btn-locate {
  padding: 12px;
  padding-bottom: 35px;
  padding-right: 40px;
  padding-left: 20px;
  color: $light-gray;
}

