.btn-primari {
   background-color: $corail !important;
   border-radius: 50px;
   height:38px;
   width:fit-content;
   padding: 19px 10px;
   text-decoration:none;
}

.btn-primari:hover {
  opacity:0.9;
  text-decoration: none;
}

.btn-secondary {
  border-radius: 50px;
  height:30px;
  width:100px;
  padding: 5px;
  text-decoration:none;
  background:$purple;
  color: $white !important;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
}

.btn-secondary:hover {
  background: $purple;
  transition: background 0.3s ease;
  color: $white !important;
  opacity: 0.8;
  text-decoration: none;
}

.btn-link {
  font-weight: light;
  color:$corail;
  font-size: 14px;
  text-decoration: underline;
  opacity: 0.9;
}

.btn-link:hover {
  color:$corail ;
  transition: background 0.3s ease;
}

.btn-tertiary {
  border-radius: 50px;
  height:38px;
  width:fit-content;
  padding: 15px;
  text-decoration:none;
  background:transparent;
  color: $corail !important;
  border: 1px solid $corail !important;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
}

.btn-tertiary:hover {
  background: $corail;
  transition: background 0.3s ease;
  color: $white !important;
  opacity: 0.9;
  text-decoration: none;
}


.btn-4tiary-delete,
.btn-4tiary-chat {
  border-radius: 50px;
  padding: 8px 27px;
  text-align: center;
  text-decoration:none;
  font-size: 14px;
  font-weight: bolder;
  opacity: 0;
  display: inline-block;
  transition: opacity 0.3s ease;
}


.btn-4tiary-delete {
  color: $corail !important;
  border: 1px solid $corail !important;
}

.btn-4tiary-delete:hover {
  background: $corail;
  transition: background 0.3s ease;
  color: $white !important;
  opacity: 0.9;
  text-decoration: none;
  transition: .3s;
}

.btn-4tiary-chat {
  background: $middle-gray;
  color: $light-gray !important;
  border: 1px solid $middle-gray !important;
}

.btn-4tiary-chat:hover {
  transition: background 0.3s ease;
  color: $corail !important;
  opacity: 0.9;
  text-decoration: none;
  background: transparent;
  border: 1px solid $corail !important;
  transition: .3s;
}

button:focus {
  text-decoration: none;
}
