.card-user {
  border-radius: 20px;
  background-color: $white;
  // padding: 20px;
}

.cards.scrolling{
  overflow: scroll;
  height:490px;
  margin-top:67px
}

.card-index-user {
  border-radius: 20px;
  background-color: $white;
  padding: 20px;
  max-height: 120px;
}

.card-index-user:active {
  border-radius: 20px;
  background-color: $corail;
  padding: 20px;
}

.card-index-user:hover {
  background-color: $white;
  border: 2px solid $middle-purple ;
}

.map-box {
  height: 490px;
  width: 650px;
  border-radius: 20px;
  margin-right: 40px;
}

.big-container{
    width: 100%;
    padding: 30px 50px;
    margin-right: auto;
    margin-left: auto;
}


.btn-localisation{
  width: 650px
}

.profile-card {
  width: 75%;
}


