.card-user {
  border-radius: 20px;
  background-color: $white;
  // padding: 20px;
}

.cards.scrolling{
  overflow: scroll;
  height:490px;
  margin-top:67px
}

.card-index-user {
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: $white;
  padding: 20px;
  height: 110px;
}

.card-index-user:active {
  border-radius: 20px;
  background-color: $corail;
  padding: 20px;
}

.card-index-user:hover {
  background-color: $white;
  border: 2px solid $middle-purple;
  transition-timing-function: ease;
  transition: 0.3s;
}

.map-box {
  height: 490px;
  width: 650px;
  border-radius: 20px;
  margin-right: 40px;
}

.big-container{
    width: 100%;
    padding: 30px 50px;
    margin-right: auto;
    margin-left: auto;
}


.btn-localisation{
  width: 650px
}

.profile-card {
  width: 75%;
}

.card-index-user .username {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  span {
    border-left: 1px solid rgba(0,0,0,0.1);
    padding-left: 5px;
    flex: 0 0 65px;
    font-size: 0.8em;
    color: $purple;
  }
}

.card-index-user-info {
  padding-left: 1em;
  flex: 1;
}

