.card-user {
  border-radius: 20px;
  background-color: $white;
  padding: 20px;
}


.card-index-user {
  border-radius: 20px;
  background-color: $white;
  padding: 20px;
}

.card-index-user:active {
  border-radius: 20px;
  background-color: $corail;
  padding: 20px;
}



.card-index-user:hover {
  background-color: $white;
  border: 2px solid $middle-purple ;
}


.map-box {
  height: 470px;
  width: 570px;
  border-radius: 20px;

}
