.chatroom {

  padding: 20px 50px 50px 50px;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  top: 0;
}

.form-chat {
  // margin-top:-30px;
  position: absolute;
  bottom: 0;
  width: 92%;
  padding-bottom: 20px;
}

.chat-header {
  height: 47px;
  opacity: 0.8;
  border-radius: 20px;
  background: #fff;
  margin-bottom: 30px;
  top: 0;
  padding: 10px;
  overflow: hidden;
}

.messages-container {
  border-radius: 12px;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  height: 60vh;
  overflow: auto;
  overflow-x: hidden;
}

/* Light chat containers */
.light-container {
  background-color: $white;
  border-radius: 30px 30px 0px 30px;
  align-self: flex-end;
  padding: 20px;
  margin: 10px 0;
  width: 60%;
}

/* Darker chat container */
.darker {
  border-radius: 30px 30px 30px 0px;
  align-self: flex-start;
  border-color: #ccc;
  background-color: $light-corail;
  width: 60%;
}

#message_text {
  border-radius: 30px 30px 0px 30px;
  border: solid 3px $light-corail;
  font-family: $body-font;
}

/* Clear floats */
.light-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.light-container img {
  float: left;

  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.light-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.btn-submit {
  float: right;
  border-radius: 50px;

  padding: 7px 20px;
  text-decoration:none;
  background:$white;
  color: $corail !important;
  border: 1px solid $corail !important;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  }

.btn-submit:hover {
  background: $corail;
  transition: background 0.3s ease;
  color: $white !important;
  opacity: 0.9;
  text-decoration: none;
}

.top-banner {
  background: $white;
  height: 47px;
  opacity: 0.8;
  border-radius: 20px;
}

#notifications {



}

