.chatroom {
  padding: 50px;
  position: fixed;
  width: 100%;
  height: 700px;
  overflow-y: auto;
}

.form-chat {
  // margin-top:-30px;
  position: fixed;
  bottom: 0;
  width: 94%;
  padding-bottom: 20px;
}

.chat-header {
  position: fixed;
  top: 0;
  padding: 25px;
  overflow: hidden;
}

.messages-container {
  margin-top: 50px;
  // margin-bottom: -50px;
  border-radius: 12px;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  height: 85%;
  overflow: auto;
  overflow-x: hidden;
  // padding: 60px 0;
}


/* Light chat containers */
.light-container {
  align-self: flex-end;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  padding: 10px;
  margin: 10px 0;
  width: 60%;
}

/* Darker chat container */
.darker {
  align-self: flex-start;
  border-color: #ccc;
  background-color: $light-purple;
  width: 60%;
}


/* Clear floats */
.light-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.light-container img {
  float: left;

  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.light-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}
