.chatroom {

  padding: 20px 50px 50px 50px;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  top: 0;
}


.chat-header {
  height: 47px;
  border-radius: 20px;
  background: $white;
  margin-bottom: 30px;
  top: 0;
  padding: 10px;
  overflow: hidden;
  width: 1025px;
}

.messages-container {
  border-radius: 20px 20px 0px 0px;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  overflow-x: hidden;
  background-color: $white-transparent;
  padding-left: 8px;
  padding-right: 8px;
}



.messages-container:after {
    content: "...";
    color: white;
    font-size: 5px;
}

/* Light chat containers */
.light-container {
  background-color: $corail-transparent;
  border-radius: 30px 30px 0px 30px;
  align-self: flex-end;
  padding: 20px 20px 0px 20px;
  margin: 10px 0;
  width: 60%;
}

/* Darker chat container */
.darker {
  border-radius: 30px 30px 30px 0px;
  align-self: flex-start;
  border-color: #ccc;
  width: 60%;
  background-color: $middle-purple-transparent;

}

.welcome-container {
  text-align: center;
  padding: 20px;
  margin: 10px 109px;
  width: 60%;

}

#message_text {
  border:none !important;
  height: 60px;
  padding: 17px;
  border-radius: 30px;
}

// #new_message {
//   border-top: 3px solid gray;
// }

#new_message textarea {
  resize: none;
}

#new_message .form-control:focus {
  box-shadow: none!important;
}

/* Clear floats */
.light-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.light-container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.light-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.btn-submit {
  border-radius: 50%;
  text-decoration:none;
  background:$white;
  color: $corail !important;
  border: 1px solid $white;
  text-align: center;
  font-weight: bolder;
  margin-left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding-right: 15px;
}

.btn-submit:hover {
  background: $corail;
  transition: background 0.3s ease;
  color: $white !important;
  opacity: 0.9;
  text-decoration: none;
  border: transparent;
}

.fa-paper-plane {
  font-size: 20px;
}

.form-chat {
  padding: 15px;
  background-color: $middle-purple-transparent;
  border-radius: 0px 0px 20px 20px;
  width: 50%;
}

.form-chat .new_message {
  display: flex;
  align-items: center;
}

.form-chat .message_text {
  flex: 1;
}


.form-chat .form-group {
  margin: 0;
}

.text-right p {
  margin-bottom: 5px;
}

.image-fond-message {
  position: relative;
    left: 625px;
    bottom: -168px;
    z-index: -1;
    width: 388px;
}

.knock-chat-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 117px);
  .messages-container {
    flex-grow: 1;
  }
}
