.chatroom {
  padding: 50px;
}

.messages-container {
  border-radius: 12px;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
}


/* Light chat containers */
.light-container {
  align-self: flex-end;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  padding: 10px;
  margin: 10px 0;
  width: 60%;
}

/* Darker chat container */
.darker {
  align-self: flex-start;
  border-color: #ccc;
  background-color: #ddd;
  width: 60%;
}


/* Clear floats */
.light-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.light-container img {
  float: left;

  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.light-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}
