.navbar-frame {
  width: 270px;
  position: sticky;
  top:0;
  // padding: 20px 0px 20px 20px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
}

.menu-title {
  padding: 13px;
  height: 55px;
  width: 20vw;
  min-width: 180px;
  margin: 4px;
  padding: 12px;
  align-items: center;
  text-decoration: none;

  &.active {
    background-color: $middle-purple-transparent;
    max-width: 210px;
    border-radius: 40px;
  }
}

.menu-title:hover {
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.1));
  max-width: 210px;
  border-radius: 40px;
  text-decoration: none;
}

.menu-title:active {
  background-color: $middle-purple;
  text-decoration: none;
}

.menu-titles {
  color: $white;
  align-items: baseline;

  &.ml-4 {
    margin-bottom: 0px;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}

.menu {
  background-color:$testv;
  border-radius: 0px 0px 20px 20px;
}
.profil {
  background-color:$testf;
  padding: 1rem;
  border-radius: 20px 20px 0px 0px;
}

.icone_menu {
  height:20px;
  opacity:0.5;
}


.conversations li {
  list-style-type: none;
  padding-left: 20px;
  padding-bottom: 20px;
  color: white;
  align-items: baseline;
  text-decoration: none;
}

.conversations a {
  color: white;
}

.conversations a:before {
  content: "@ ";
}

.conversations a:hover {
  text-decoration: none;
}

.logout {
    position: absolute;
    right: 7px;
    bottom: 30px;
}


.notification-alert {
  position: relative;
  color: white;
  font-size: 1.4em;
}

.notification-alert.active .badge-notification {
  background-color: $corail;
}


.badge-notification {
  position: absolute;
  top: 3px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: $light-gray;
  border-radius: 50%;
}
