.navbar-frame {
  width: 25vw;
  position: sticky;
  top:0;
  padding: 20px 0px 20px 20px;
  height: 100vh;
}

.menu-title {
  padding: 13px;
  height: 55px;
  width: 20vw;
  min-width: 180px;
  margin: 4px;
  padding: 12px;
  align-items: center;
  text-decoration: none;

  &.active {
    background-color: $middle-purple-transparent;
    max-width: 210px;
    border-radius: 40px;
  }
}

.menu-title:hover {
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.1));
  max-width: 210px;
  border-radius: 40px;
  text-decoration: none;
}

.menu-title:active {
  background-color: $middle-purple;
  text-decoration: none;
}

.menu-titles {
  color: $white;
  align-items: baseline;

  &.ml-4 {
    margin-bottom: 0px;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}

.menu {

  background-color:$testv;
  height:75vh;
  width: 20vw;
  min-width: 180px;
  border-radius: 0px 0px 20px 20px;
}
.profil {
  background-color:$testf;
  height:30vh;
  width: 20vw;
  padding: 1rem;
  min-width: 180px;
  border-radius: 20px 20px 0px 0px;
}

.icone_menu {
  height:20px;
  opacity:0.5;
}


.conversations li {
  list-style-type: none;
  padding-left: 20px;
  padding-bottom: 20px;
  color: white;
  align-items: baseline;
  text-decoration: none;
}

.conversations a {
  color: white;
}

.conversations a:before {
  content: "@ ";
}

.conversations a:hover {
  text-decoration: none;
}


