.navbar-lewagon {
  justify-content: space-between;
  height: 110px;
  padding: 0rem 1rem;
  margin-top: -16px;
  background-color: transparent;


.navbar-collapse {
  flex-grow: 0;

  .nav-link {
    color: $purple;
    opacity: 0.8;
    letter-spacing: 2px;

    &:hover {
      font-weight: bolder;
      color: $purple;
    }
  }

    .nav-link.active {
      color: $white;
      opacity: 1;
    }
  }

  .navbar-brand img {
    width: 227px;
    margin-left: 31px;
  }
}


.navbar-links {
  padding-top: 20px;
  margin-right: auto;
  position: relative;
  left: 10%
}

.navbar-links a {
  color: $purple;
  letter-spacing: 2px;
  opacity: 0.3;
  text-decoration: none;
  padding: 0px 10px;
}
.navbar-links a:hover {
  opacity: 1;
}

.align-text {
  text-align: right;
  letter-spacing: 2px;
}



